.select-item
{
border-style: solid;
border-width: 1px;
border-color: transparent;
background-color: transparent;
padding: 25px;
}

.select-item:hover
{
border-color: #8F8F01;
background-color: #FFFFD1;	
}

.select-item:active
{
border-color: #800008;
background-color: #FFE3E5;	
}

.popup-title
{
font-size: 18pt;
font-weight: bold;	
}

.popup-instruction
{
font-size: 11pt;	
}

.cart-title
{
font-size: 20pt;	
color: #606060;
font-weight: normal;
cart-decoration: none;
}