.top-border
{
border-style: solid none solid none;
border-width: 1px;
border-color: #D4D4D4 transparent #EBEBEB transparent;
}

.regular-border
{
border-style: solid none solid none;
border-width: 1px;
border-color: #EBEBEB transparent #EBEBEB transparent;	
}

.fft-item
{
display: block;	
padding: 4px;	
}