.cc-name
{
position: absolute;
top: 2px;
left: 2px;
width: 496px;	
}

.cc-type
{
position: absolute;
top: 42px;
left: 2px;
width: 496px;	
}

.cc-number
{
position: absolute;
top: 82px;
left: 2px;
width: 496px;		
}

.cc-month
{
position: absolute;
top: 122px;
left: 2px;
width: 246px;	
}

.cc-year
{
position: absolute;
top: 122px;
right: 2px;
width: 246px;	
}

.pmt-title
{
font-size: 20pt;
font-weight: bold;	
}

.pmt-group
{
display: inline-block; 
padding: 5px 15px 5px 5px;
}

.pmt-prop
{
font-weight: bold;
width: 200px;
display: inline-block;
text-align: right;
padding: 0 10px 0 0;	
}

.pmt-amt-val
{
width: 75px;
display: inline-block;
text-align: right;	
padding: 0;
}

.pmt-val
{
display: inline-block;
}

.hzline
{
height: 1px;
background-color: #000000;
display: block;	
}

.blue
{
color: #00059E;
background-color: #EDFCFF;
}

.purple
{
color: #5C0180;
background-color: #F8F0FF;	
}

.red
{
color: #990036;
background-color: #FFF5F8;		
}

.green
{
color: #004D03;
background-color: #F2FFF3;		
}